*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: black;
    text-align: center;
}
h1{
    color: #fff;
    margin-bottom: 20px;
    font-size: 45px;
}
.timer_container{
    display: flex;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    /* height: 100px; */
    background: yellow;
    margin-right: 10px;
    font-size: 8vw;
    border-radius: 10px;
    padding: 10px 30px;
}
.box span{
    border-bottom: 1px solid white;
}
.btns{
    margin-top: 50px;
}
button{
    width: 100px;
    height: 50px;
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 20px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}
button:hover{
    background: green;
}
/* #start{
    background: green;
} */
#end{
    background: red;
    color: #fff;
}
#reset{
    background: yellow;
}